black==26.3.1
build==1.4.2
flake8==7.3.0
lxml_html_clean==0.4.4
mypy==1.20.0
pytest==9.0.2
python-iso639==2026.1.31
requests-html==0.10.0
requests==2.33.1
segments==2.4.0
setuptools==82.0.1
twine==6.2.0
unicodedataplus==16.0.0.post1
