version: 2
jobs:
  build:
    docker:
      - image: python:3.6
    steps:
      - checkout
      - run:
          name: Build source distribution and install package from it
          working_directory: ~/project/
          # Ensure we can build a source distribution that can correctly install.
          # "python setup.py sdist" creates dist/wikipron-x.y.z.tar.gz
          command: |
              pip install --progress-bar off --upgrade pip setuptools
              python setup.py sdist
              pip install dist/`ls dist/ | grep .tar.gz`
      - run:
          name: Install the full development requirements
          working_directory: ~/project/
          command: |
              pip install --progress-bar off -r requirements.txt
      - run:
          name: Show installed Python packages
          command: |
              pip list
      - run:
          name: Lint
          working_directory: ~/
          # Avoid being able to import wikipron.py by relative import.
          # Test code by importing the *installed* wikipron in site-packages.
          command: flake8 project/setup.py project/wikipron project/tests
      - run:
          name: Run python tests
          working_directory: ~/
          # Avoid being able to import wikipron.py by relative import.
          # Test code by importing the *installed* wikipron in site-packages.
          command: pytest -vv project/tests
