version: 2
jobs:
  test_package:
    docker:
      - image: python:3.7
    steps:
      - checkout
      - restore_cache:
          keys:
            - pip-{{ checksum "requirements.txt" }}
      - run:
          name: Install all Python requirements
          working_directory: ~/project/
          command: |
              pip install --progress-bar off --upgrade pip setuptools
              pip install --progress-bar off -r requirements.txt
              pip install --progress-bar off --no-deps -e .
      - save_cache:
          key: pip-{{ checksum "requirements.txt" }}
          paths:
            - ~/.cache/pip
      - run:
          name: Run python tests
          command: PYTHONPATH=. pytest -vv test_g2p.py

workflows:
  version: 2
  test_package:
    jobs:
      - test_package
